# ETL Project - Data Extraction

## Air Pollution Effects by OECD country

### by Team Omicron

### Comments and Findings

 Air pollution is one of the most pressing environmental and health issues across OECD countries and beyond.
 Fine particulate matter (PM2.5) can be inhaled and cause serious health problems including both respiratory 
 and cardiovascular disease, having its most severe effects on children and elderly people. Exposure to PM2.5 
 has been shown to considerably increase the risk of heart disease and stroke in particular. Cost estimates 
 represent only the cost of premature mortalities. They are calculated using estimates of the “Value of a Statistical Life” 
 (VSL) and the number of premature deaths attributable to ambient particulate matter.

 Content, 
 this data contains an eye opening insights.
- Entity: It contains the name of the country.
- Code: It contain Code of the country.
- Year: Years range from 1990 to 2017
- Air pollution (total) (deaths per 100,000) : Contain total death.
- Indoor air pollution (deaths per 100,000) : Contains death due to indoor air pollution.
- Outdoor particulate matter (deaths per 100,000) : Contains death due to outdoor pollution.
- Outdoor ozone pollution (deaths per 100,000) : Death due to ozone pollution.

#### Phase 1 - Framework definition

In [1]:
# Import of modules
import pandas as pd
import csv
import os
from sqlalchemy import create_engine

#### Phase 2 - Dataframe creation and cleaning

In [2]:
# Creating path
path = os.path.join("Data", "air_pollution_eff_by_country_oecd.csv")

In [3]:
# Reading CSV file
Effect_DB = pd.read_csv(path)
Effect_DB

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,Australia,POLLUTIONEFFECT,MORTALITY,1000000HAB,A,2010,217.448,NaN
1,Australia,POLLUTIONEFFECT,MORTALITY,1000000HAB,A,2011,223.709,NaN
2,Australia,POLLUTIONEFFECT,MORTALITY,1000000HAB,A,2012,209.101,NaN
3,Australia,POLLUTIONEFFECT,MORTALITY,1000000HAB,A,2013,198.205,NaN
4,Australia,POLLUTIONEFFECT,MORTALITY,1000000HAB,A,2014,193.408,NaN
...,...,...,...,...,...,...,...,...
283,Slovenia,POLLUTIONEFFECT,MORTALITY,1000000HAB,A,2013,375.722,NaN
284,Slovenia,POLLUTIONEFFECT,MORTALITY,1000000HAB,A,2014,350.257,NaN
285,Slovenia,POLLUTIONEFFECT,MORTALITY,1000000HAB,A,2015,371.517,NaN
286,Slovenia,POLLUTIONEFFECT,MORTALITY,1000000HAB,A,2016,361.266,NaN
287,Slovenia,POLLUTIONEFFECT,MORTALITY,1000000HAB,A,2017,372.652,NaN

In [4]:
# Filtering data by country
NAmerica_DF = Effect_DB.loc[Effect_DB["LOCATION"].isin(["Mexico", "Canada", "United States"])]

In [5]:
# Dataframe cleaning
NAmerica_DF = NAmerica_DF.reset_index()
NAmerica_DF = NAmerica_DF[["LOCATION", "INDICATOR", "TIME", "Value"]]
NAmerica_DF = NAmerica_DF.rename(columns={"LOCATION":"Entity","INDICATOR":"Indicator","TIME":"Year"})
NAmerica_DF

           Entity        Indicator  Year    Value
0          Canada  POLLUTIONEFFECT  2010  229.879
1          Canada  POLLUTIONEFFECT  2011  230.249
2          Canada  POLLUTIONEFFECT  2012  220.521
3          Canada  POLLUTIONEFFECT  2013  209.496
4          Canada  POLLUTIONEFFECT  2014  205.924
5          Canada  POLLUTIONEFFECT  2015  201.792
6          Canada  POLLUTIONEFFECT  2016  182.572
7          Canada  POLLUTIONEFFECT  2017  180.705
8          Mexico  POLLUTIONEFFECT  2010  235.823
9          Mexico  POLLUTIONEFFECT  2011  242.456
10         Mexico  POLLUTIONEFFECT  2012  241.342
11         Mexico  POLLUTIONEFFECT  2013  247.809
12         Mexico  POLLUTIONEFFECT  2014  245.790
13         Mexico  POLLUTIONEFFECT  2015  244.894
14         Mexico  POLLUTIONEFFECT  2016  247.222
15         Mexico  POLLUTIONEFFECT  2017  254.043
16  United States  POLLUTIONEFFECT  2010  306.293
17  United States  POLLUTIONEFFECT  2011  316.746
18  United States  POLLUTIONEFFECT  2012  298.242
19  United States  POLLUTIONEFFECT  2013  291.055
20  United States  POLLUTIONEFFECT  2014  277.725
21  United States  POLLUTIONEFFECT  2015  276.340
22  United States  POLLUTIONEFFECT  2016  259.243
23  United States  POLLUTIONEFFECT  2017  263.227

In [6]:
# Creating path
path = os.path.join("Data", "air_pollution_exp_by_country_oecd.csv")

In [7]:
# Reading CSV file
Exposure_DB = pd.read_csv(path)
Exposure_DB

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,Australia,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,2010,10.53559,NaN
1,Australia,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,2011,10.88267,NaN
2,Australia,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,2012,10.40148,NaN
3,Australia,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,2013,9.84329,NaN
4,Australia,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,2014,9.36117,NaN
...,...,...,...,...,...,...,...,...
283,Slovenia,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,2013,17.82317,NaN
284,Slovenia,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,2014,17.02368,NaN
285,Slovenia,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,2015,17.52007,NaN
286,Slovenia,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,2016,16.14072,NaN
287,Slovenia,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,2017,16.25411,NaN

In [8]:
# Filtering data by country
NAmerica_Exposure_DB = Exposure_DB.loc[Exposure_DB["LOCATION"].isin(["Mexico", "Canada", "United States"])]

In [9]:
# Dataframe cleaning
NAmerica_Exposure_DB = NAmerica_Exposure_DB.reset_index()
NAmerica_Exposure_DB = NAmerica_Exposure_DB[["LOCATION", "INDICATOR", "TIME", "Value"]]
NAmerica_Exposure_DB = NAmerica_Exposure_DB.rename(columns={"LOCATION":"Entity","INDICATOR":"Indicator","TIME":"Year"})
NAmerica_Exposure_DB

           Entity     Indicator  Year     Value
0          Canada  POLLUTIONEXP  2010   8.37601
1          Canada  POLLUTIONEXP  2011   8.57013
2          Canada  POLLUTIONEXP  2012   8.10123
3          Canada  POLLUTIONEXP  2013   7.75003
4          Canada  POLLUTIONEXP  2014   7.30653
5          Canada  POLLUTIONEXP  2015   7.17206
6          Canada  POLLUTIONEXP  2016   6.48028
7          Canada  POLLUTIONEXP  2017   6.45931
8          Mexico  POLLUTIONEXP  2010  26.75453
9          Mexico  POLLUTIONEXP  2011  28.21291
10         Mexico  POLLUTIONEXP  2012  26.43690
11         Mexico  POLLUTIONEXP  2013  25.79244
12         Mexico  POLLUTIONEXP  2014  23.60891
13         Mexico  POLLUTIONEXP  2015  22.58937
14         Mexico  POLLUTIONEXP  2016  21.25683
15         Mexico  POLLUTIONEXP  2017  21.23615
16  United States  POLLUTIONEXP  2010   9.29297
17  United States  POLLUTIONEXP  2011   9.66482
18  United States  POLLUTIONEXP  2012   8.96083
19  United States  POLLUTIONEXP  2013   8.67383
20  United States  POLLUTIONEXP  2014   8.16956
21  United States  POLLUTIONEXP  2015   8.01888
22  United States  POLLUTIONEXP  2016   7.37633
23  United States  POLLUTIONEXP  2017   7.36365

Source = https://www.kaggle.com/marprezd/air-pollution-exposure-and-effects?select=air_pollution_exp_by_country_oecd.csv

#### Phase 3 - Death Rates Import

In [10]:
# Creating path
path = os.path.join("Data", "death-rates-from-air-pollution.csv")

In [11]:
# Reading CSV file
DeathRate = pd.read_csv(path)
DeathRate

,Entity,Code,Year,"Air pollution (total) (deaths per 100,000)","Indoor air pollution (deaths per 100,000)","Outdoor particulate matter (deaths per 100,000)","Outdoor ozone pollution (deaths per 100,000)"
0,Afghanistan,AFG,1990,299.477309,250.362910,46.446589,5.616442
1,Afghanistan,AFG,1991,291.277967,242.575125,46.033841,5.603960
2,Afghanistan,AFG,1992,278.963056,232.043878,44.243766,5.611822
3,Afghanistan,AFG,1993,278.790815,231.648134,44.440148,5.655266
4,Afghanistan,AFG,1994,287.162923,238.837177,45.594328,5.718922
...,...,...,...,...,...,...,...
6463,Zimbabwe,ZWE,2013,143.850145,113.456097,27.589603,4.426291
6464,Zimbabwe,ZWE,2014,138.200536,108.703566,26.760618,4.296971
6465,Zimbabwe,ZWE,2015,132.752553,104.340506,25.715415,4.200907
6466,Zimbabwe,ZWE,2016,128.692138,100.392287,25.643570,4.117173
6467,Zimbabwe,ZWE,2017,125.028843,96.235996,26.166182,4.052495

In [12]:
# Filtering data by country
NAmericaDeath_DF = DeathRate.loc[DeathRate["Entity"].isin(["Mexico", "Canada", "United States"])]

In [13]:
# Filtering data for years from 2010 to latest
NAmericaDeath_DF = NAmericaDeath_DF.loc[NAmericaDeath_DF["Year"]>=2010]

In [14]:
# Dataframe cleaning
NAmericaDeath_DF = NAmericaDeath_DF[["Entity","Year","Indoor air pollution (deaths per 100,000)","Outdoor particulate matter (deaths per 100,000)","Outdoor ozone pollution (deaths per 100,000)"]]
NAmericaDeath_DF = NAmericaDeath_DF.rename(columns={"Indoor air pollution (deaths per 100,000)":"Indoor air pollution","Outdoor particulate matter (deaths per 100,000)":"Outdoor particulate matter","Outdoor ozone pollution (deaths per 100,000)":"Outdoor ozone pollution"})
NAmericaDeath_DF

,Entity,Year,Indoor air pollution,Outdoor particulate matter,Outdoor ozone pollution
972,Canada,2010,0.034065,13.281852,1.786430
973,Canada,2011,0.031916,13.030477,1.756998
974,Canada,2012,0.030710,12.243601,1.764727
975,Canada,2013,0.028803,11.410021,1.733997
976,Canada,2014,0.027696,11.032571,1.746991
977,Canada,2015,0.027058,10.609097,1.763895
978,Canada,2016,0.025129,9.397503,1.740834
979,Canada,2017,0.024770,9.110733,1.739718
3688,Mexico,2010,11.901928,32.388332,4.647738
3689,Mexico,2011,11.255577,32.608663,4.547609
3690,Mexico,2012,11.221952,31.773223,4.488950
3691,Mexico,2013,11.179838,31.988662,4.537110
3692,Mexico,2014,11.431176,31.078965,4.504277
3693,Mexico,2015,11.328643,30.376904,4.458799
3694,Mexico,2016,11.277100,29.987699,4.478884
3695,Mexico,2017,10.832114,30.124274,4.451258
6096,United States,2010,0.108382,19.389701,4.016615
6097,United States,2011,0.104453,19.773824,4.085945
6098,United States,2012,0.101612,18.338931,4.076192
6099,United States,2013,0.098260,17.610370,4.091789
6100,United States,2014,0.095735,16.577096,4.092842
6101,United States,2015,0.092759,16.232600,4.115665
6102,United States,2016,0.090756,15.041788,4.122649
6103,United States,2017,0.089135,15.043925,4.142219

#### Phase 4 - Connecting with PostgreSQL

In [15]:
# Creating engine connection
connection_string = "postgres:postgres@localhost:5432/air_pollution_db"
engine = create_engine(f'postgresql://{connection_string}')

In [16]:
# Loading data into tables
NAmerica_DF.to_sql(name='PollutionEffect', con=engine, if_exists='replace', index=False)
NAmerica_Exposure_DB.to_sql(name='PollutionExposure', con=engine, if_exists='replace', index=False)
NAmericaDeath_DF.to_sql(name='DeathPollution', con=engine, if_exists='replace', index=False)

In [17]:
# Extract Data
pd.read_sql_query('''SELECT a.*, b."Value" AS "Pollution Effect", c."Value" AS "Pollution Exposure"
                    FROM "DeathPollution" AS a
                    INNER JOIN "PollutionEffect" AS b ON (a."Entity"=b."Entity" AND a."Year"=b."Year")
                    INNER JOIN "PollutionExposure" AS c ON (a."Entity"=c."Entity" AND a."Year"=c."Year")''', con=engine)

,Entity,Year,Indoor air pollution,Outdoor particulate matter,Outdoor ozone pollution,Pollution Effect,Pollution Exposure
0,Canada,2010,0.034065,13.281852,1.786430,229.879,8.37601
1,Canada,2011,0.031916,13.030477,1.756998,230.249,8.57013
2,Canada,2012,0.030710,12.243601,1.764727,220.521,8.10123
3,Canada,2013,0.028803,11.410021,1.733997,209.496,7.75003
4,Canada,2014,0.027696,11.032571,1.746991,205.924,7.30653
5,Canada,2015,0.027058,10.609097,1.763895,201.792,7.17206
6,Canada,2016,0.025129,9.397503,1.740834,182.572,6.48028
7,Canada,2017,0.024770,9.110733,1.739718,180.705,6.45931
8,Mexico,2010,11.901928,32.388332,4.647738,235.823,26.75453
9,Mexico,2011,11.255577,32.608663,4.547609,242.456,28.21291
10,Mexico,2012,11.221952,31.773223,4.488950,241.342,26.43690
11,Mexico,2013,11.179838,31.988662,4.537110,247.809,25.79244
12,Mexico,2014,11.431176,31.078965,4.504277,245.790,23.60891
13,Mexico,2015,11.328643,30.376904,4.458799,244.894,22.58937
14,Mexico,2016,11.277100,29.987699,4.478884,247.222,21.25683
15,Mexico,2017,10.832114,30.124274,4.451258,254.043,21.23615
16,United States,2010,0.108382,19.389701,4.016615,306.293,9.29297
17,United States,2011,0.104453,19.773824,4.085945,316.746,9.66482
18,United States,2012,0.101612,18.338931,4.076192,298.242,8.96083
19,United States,2013,0.098260,17.610370,4.091789,291.055,8.67383
20,United States,2014,0.095735,16.577096,4.092842,277.725,8.16956
21,United States,2015,0.092759,16.232600,4.115665,276.340,8.01888
22,United States,2016,0.090756,15.041788,4.122649,259.243,7.37633
23,United States,2017,0.089135,15.043925,4.142219,263.227,7.36365